extend componentes/plantilla.pug
block contenidos 
	section.intro 
		.intro__imagen: img(src="images/imagen.png", alt="logo de una imagen")
		.intro__contenido 
			h2 #{titulos[0]}
			p
				| Lorem ipsum dolor sit, 
				| amet consectetur 
				| adipisicing elit.
				|  Ducimus itaque 
				| inventore dolorem 
				| asperiores, eligendi 
				| sit sunt et, nobis fuga
				| lorem ipsum dolor sit,
				| amet consectetur
				| adipisicing.
				| ea illum tenetur excepturi. 
				span Consequatur sed voluptatibus tenetur consectetur a? Odio, dolores Lorem, sed voluptatibus tenetur ipsum dolor.
			a.boton(href="/") Leer Mas  
	main.contenido 
		+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet')
		+caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet')
		+caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet')

			
